<div class="professionals-container">
  <mat-card>
    <mat-card-header [style.margin-bottom]="'20px'">
      <div mat-card-avatar class="professional-avatar" [style.background-image]="'url(' + professional?.user?.image + ')'"></div>
      <div class="details-container">
        <h4 class="professional-name">{{professional?.user?.name}}</h4>
        <h6>{{professional?.company}}</h6>
      </div>
    </mat-card-header>
    <div class="tags-container" *ngIf="professional.tags">
      <mat-chip-list>
        <mat-chip [selectable]="false" *ngFor="let tag of professional.tags?.split(',')">{{tag}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="message-container">
      <mat-form-field>
        <textarea class="message" matInput placeholder="Message" matTextareaAutosize matAutosizeMaxRows="5" matAutosizeMinRows="2"></textarea>
      </mat-form-field>
    </div>
    <mat-card-actions>

      <button mat-button color="primary" (click)="invite()" *ngIf="!isInvited">Send Invitation</button>
      <button mat-button color="primary" disabled *ngIf="isInvited">Invite sent</button>
    </mat-card-actions>
  </mat-card>
</div>
