<div class="professionals-container">
  <mat-card>
    <mat-chip-list>
      <mat-chip (selectable)="false" *ngFor="let tag of professional.tags?.split(',')">{{tag}}</mat-chip>
    </mat-chip-list>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{professional?.user?.name}}</mat-card-title>
      <mat-card-subtitle>{{professional?.company}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button color="primary" (click)="invite()" *ngIf="!isInvited">Invite</button>
      <button mat-button color="primary" disabled *ngIf="isInvited">Invite sent</button>
    </mat-card-actions>
    {{professional | json}}
  </mat-card>
</div>
