<div class="leave-comment-container">
  <div class="personalized-text-area">
    <div class="profile-image-container">
      <img class="profile-picture" src="/assets/img/lecturer.jpg" alt="Profile image">
    </div>
    <div class="comment-container">
      <mat-form-field class="full-width">
        <textarea #commentTextArea
                  matInput 
                  class="full-width" 
                  placeholder="Write a comment..." 
                  matTextareaAutosize 
                  matAutosizeMinRows="1"
                  (focus)="showCommentControls = true"
                  (blur)="showCommentControls = false"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="controls-container" *ngIf="showCommentControls || commentTextArea.value.length > 0">
    <button mat-raised-button color="primary" class="comment-button" (click)="resetComment()">Comment</button>
    <button mat-button class="cancel-button">Cancel</button>
  </div>
</div>