<div class="content-container">
  <mat-toolbar class="title-toolbar" style="background: none">
    <span>Edit Event</span>
  </mat-toolbar>

  <mat-card>

    <mat-grid-list cols="4">
      <mat-grid-tile [colspan]="3" [rowspan]="2" class="event-details-panel">
        <h1>{{event?.title}}</h1>
        <mat-list role="list">
          <h3 mat-subheader>Description</h3>
          <mat-list-item>{{event?.description}}</mat-list-item>

          <h3 mat-subheader>Location</h3>
          <mat-list-item>{{event?.location}}</mat-list-item>

          <h3 mat-subheader>Time</h3>
          <mat-list-item>{{event?.time}}</mat-list-item>
        </mat-list>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="2" class="event-action-panel">
        <button mat-raised-button color="primary" class="full-width-button" (click)="openFindSpeakerDialogue()">Find speakers</button>
        <p class="seats-left">{{event?.max_seats - event?.reserved_seats + ' seats left.'}}</p>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card>

  <mat-toolbar class="title-toolbar" style="background: none">
    <span>Speakers</span>
  </mat-toolbar>
  <mat-card>

  </mat-card>
</div>
