:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}
.splash-container {
  height: 80vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  overflow: hidden;
}
.title {
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.67);
}
.inline-logo {
  height: 70px;
  transform: translateY(-3px) translateX(-15px);
}
.landing-page-content-container  {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
  max-width: 1352px;
   margin: 12px 0;
   width: 100%;
 }
.landing-page-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.title-container {
  margin-top: 212px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
.tagline {
  color: #757575;
  font-size: 48px;
  line-height: 62px;
  font-weight: 300;
  max-width: 80%;
  margin-bottom: 40px;
}
.card-content {
  margin: 0 auto;
  max-width: 1352px;
  padding: 80px 114px;
  position: relative;
}
.get-started-button {
  padding: 10px 25px;
}
.row-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
.row-container {
  height: 100%;
  width: 100%;
  margin-right: 27px;
}
.grid-list {
  margin-top: 50px;
}
.row-text {
  margin-top: 0;
  min-height: 72px;
  color: #757575;
}
.row-title {
  max-width: 80%;
}
.landing-page-card {
  margin: 20px 40px;
}
.card-title {
  color: #424242;
  font-size: 32px;
  line-height: 40px;
  font-weight: 100;
}
.process-step {
  margin: 38px 0;
}
.process-list {
  max-width: 80%;
}

.landing-page-container {
  background: url('/assets/img/method-draw-image.svg') top left no-repeat,
              url('/assets/img/backslant-footer.svg') bottom left no-repeat,
              url('/assets/img/backslant-home-repeat.svg') left repeat-y;
  background-size: 100%;
}

.landing-page-header {
  flex-direction: column;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  width: 60%;
  margin: 100px 0;
}

.supporting-statement {
  font-size: 26px;
  width: 80%;
}

.headline {
  font-size: 42px;
  margin-bottom: 0px;
}
.call-to-action {
  padding: 10px 25px;
}
