<div class="container">
  <div class="row">
    <!-- Right side mode -->
    <div class="side-bar-container col-12" *ngIf="rightSide">
      <mat-card>
          
      </mat-card>
    </div>
    <!-- Left side mode -->
    <div class="side-bar-container col-12" *ngIf="!rightSide">
      <mat-card>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>web</mat-icon>
            <p mat-line>Website</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>insert_drive_file</mat-icon>
            <p mat-line>Portfolio</p>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>