:host {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sign-up-container {
  padding: 0 300px;
}
.sign-up-description {
  padding: 18px;
}
.sign-up-card {
  width: 100%;
  margin: 10px;
}
