<div class="sign-up-container mat-typography">
  <div class="sign-up-description">
    <h1>Sign up to Fypster</h1>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </div>
  <mat-card class="sign-up-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <h1>Student</h1>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="'/signup/student'">Sign up</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="sign-up-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <h1>Professional</h1>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sign up</button>
    </mat-card-actions>
  </mat-card><mat-card class="sign-up-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <h1>Lecturer</h1>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Sign up</button>
  </mat-card-actions>
</mat-card>
</div>
