<div class="content-container">
  <mat-toolbar class="title-toolbar" style="background: none">
    <span>Event Details</span>
    <span class="spacer"></span>
    <span>
      <button mat-icon-button [routerLink]="['edit']">
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <mat-card>
    <mat-grid-list cols="4">
      <mat-grid-tile [colspan]="3" [rowspan]="2" class="event-details-panel">
        <h1>{{event?.title}}</h1>
        <mat-list role="list">
          <h3 mat-subheader>Description</h3>
          <mat-list-item>{{event?.description}}</mat-list-item>

          <h3 mat-subheader>Location</h3>
          <mat-list-item>{{event?.location}}</mat-list-item>

          <h3 mat-subheader>Time</h3>
          <mat-list-item>{{event?.time}}</mat-list-item>
        </mat-list>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="2" class="event-action-panel">
        <div mat-card-avatar class="lecturer-avatar" style="background-image: url('/assets/img/lecturer.jpg')"></div>
        <mat-card-title>{{event?.lecturer?.user?.name}}</mat-card-title>
        <mat-card-subtitle>Programmer</mat-card-subtitle>
        <button mat-raised-button color="primary" class="full-width-button" (click)="attend()" *ngIf="!isAttending">Attend</button>
        <button disabled mat-raised-button color="primary" class="full-width-button" (click)="attend()" *ngIf="isAttending">You are attending</button>
        <p class="seats-left">{{event?.max_seats - event?.reserved_seats + ' seats left.'}}</p>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card>

  <mat-toolbar class="title-toolbar" style="background: none">
    <span>Speakers</span>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <div class="speakers-container" *ngIf="event?.professionals">
        <app-speaker-box *ngFor="let professional of event?.professionals" [professional]="professional"></app-speaker-box>
      </div>
    </mat-card-content>
  </mat-card>
</div>
