<div class="event-box-container">
  <mat-card class="event-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Victor Nielsen</mat-card-title>
      <mat-card-subtitle>Professor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{event.name}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" class="full-width-button" [routerLink]="'/events/' + event.id">View</button>
    </mat-card-actions>
  </mat-card>
</div>
