:host {
  padding: 5px;
  width: 100%;
}
.event-card {
  width: 100%;
}
.event-box-container {
  width: 100%;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
