<div class="event-box-container">
  <mat-card class="event-card"
            [style.background-image]="'url(\'/assets/img/backgrounds/1.jpg\')'"
            [routerLink]="'/events/' + event.id">
    <div class="date-container">
      <div class="calendar-box">
        <p class="calendar-day">24</p>
        <p class="calendar-month">DEC</p>
      </div>
      <span class="spacer"></span>
    </div>
    <mat-card-content>
      <h1 class="mat-headline">
        {{event.title.toUpperCase()}}
      </h1>
      <mat-chip-list class="event-box-footer" *ngIf="event?.tags">
        <!--<mat-chip class="event-tag" *ngFor="let tag of event?.tags?.split(',')">{{tag}}</mat-chip>-->
      </mat-chip-list>
    </mat-card-content>

  </mat-card>
</div>
