<div class="row">
  <div class="card-container">
    <mat-card>
      <h3 class="about-title">ABOUT</h3>
      <p>Cras venenatis consectetur purus ut ullamcorper. Curabitur quis arcu id turpis fringilla dictum at viverra nisi. Phasellus malesuada scelerisque orci, varius dignissim quam volutpat ullamcorper. Mauris eleifend lorem nec aliquam auctor. Praesent turpis erat, iaculis at fringilla et, finibus ut sem. Nulla viverra fringilla nisl et mollis.
        <br><br>Pellentesque sagittis ligula in mattis tincidunt. Quisque iaculis arcu quis libero semper, iaculis suscipit risus tempor. Curabitur quis arcu id turpis fringilla dictum at viverra nisi. Curabitur quis arcu id turpis fringilla dictum at viverra nisi.</p>
      <br>
      <h3 class="about-title">SKILLS</h3>
      <mat-chip-list>
        <mat-chip class="skill-chip" *ngFor="let skill of skills">{{skill}}</mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div>