:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new-event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.new-event-card {
  width: 100%;
  margin: 10px;
}
.new-event-header {
}
.new-event-toolbar {
  display: flex;
  height: 150px;
  color: white;
  background-color: #e91e63;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.toolbar-container {
  width: 800px;
  display: flex;
}
.new-event-title {
  margin: 0;
}
* .mat-step-header .mat-step-icon {
  background-color: #e91e63 !important;
}
.new-event-stepper-text {
  font-size: 16px;
}
.new-event-button-container {
  margin-top: 26px;
}
.top-spacing {
  margin-top: 20px;
}
.finished-container {
  width: 100%;

}
