/* You can add global styles to this file, and also import other style files
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

@import '~@angular/material/theming';
@include mat-core();
@import "theme.scss";

html, body {
  width: 100vw;
  max-width: 100vw !important;
  margin: 0;
}
* {
  @include angular-material-theme($theme);
  outline: none !important;
}

.content-container  {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 800px;
  margin: 12px 0;
  width: 100%;
}

.full-width-button {
  width: 100%;
  font-size: large;
}

.title-toolbar {
  margin-top: 25px;
  background: none;
}
.spacer {
  flex: 1 1 auto;
}
.fab {
  position: fixed;
  bottom: 60px;
  right: 60px;
}

.full-width-row {
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-action-panel > figure {
  display: flex !important;
  flex-direction: column !important;
  justify-content: inherit !important;
  * {
    margin: 5px 0;
  }
}
.event-details-panel > figure {
  display: flex !important;
  flex-direction: column !important;
  justify-content: inherit !important;
  align-items: flex-start !important;
}
mat-horizontal-stepper {
  background: none !important;
}
.mat-step-icon {
  background-color: #e91e63 !important;
}

.ignore-mouse {
  pointer-events: none;
}
