@import '~@angular/material/theming';

$my-theme-primary: mat-palette($mat-light-blue, 500, 300, 900);
$my-theme-accent: mat-palette($mat-pink);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

$theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
